[Desktop Entry]
Encoding=UTF-8
Name=AstroAllInOne Control Panel
Comment=AstroAllInOne Control Panel GUI
Exec=/usr/bin/astroallinone -c
Icon=/usr/share/AstroAllInOne/logo.png
Terminal=false
Type=Application
Categories=Application;Science;Astronomy;
StartupNotify=true