[Desktop Entry]
Encoding=UTF-8
Name=AstroAllInOne CLI server
Comment=AstroAllInOne stand-alone INDI server (port specified by settings).
Exec=/usr/bin/astroallinone -v -p=0
Icon=/usr/share/AstroAllInOne/logo-terminal.png
Terminal=true
Type=Application
Categories=Application;Science;Astronomy;
StartupNotify=false